# MAILTO=yourname@yourdomain
# SHELL=/bin/bash

## Settings for QwatchCapture
QWDIR=
QWCONFIG=

## Settings for QwatchCapture
FFMPEG_OPT_IN="-y -f image2 -r 15"
FFMPEG_OPT_OUT="-r 15 -an -vcodec libx264 -pix_fmt yuv420p"
FFMPEG_OUT_FILE=video.mp4

## Run
*/10 * * * * `cd $QWDIR && ./qwatch.py QWCONFIG`
* */1 * * * `cd $QWDIR && ffmpeg ${FFMPEG_OPT_IN} -pattern_type glob -i 'snapshots/*.jpg' ${FFMPEG_OPT_OUT} ${FFMPEG_OUTFILE} && mv ${FFMPEG_OUTFILE} snapshots/`
